$black: #000;
$white: #fff;
$rollingStone: #798285;
$scorpion: #595959;
$silverChalice: #acacac;
$blackHaze: #f5f6f6;
$dustyGray: #999999;
$bismark: #42717e;
$stormDust: #5b5c5a;
$corduroy: #575a59;
$tundora: #454545;
