.wrapper {
  @include make-container();
}

.header {
  @include make-row();
  padding: 20px 0;

  .logo {
    @include make-col-ready();
    @include make-col(6);
    background: url("../images/header_logo.jpg") no-repeat;
    background-size: contain;
    height: 200px;
  }

  .heading {
    @include make-col-ready();
    @include make-col(6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  @include make-row();

  .heading {
    @include make-col-ready();
    @include make-col(12);
    display: flex;
    justify-content: center;
  }

  .controls {
    @include make-col-ready();
    @include make-col(12);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    .button {
      border-radius: 5px;
      padding: 10px;
      font: $headingFont;
      background-color: $bismark;
      border-color: $bismark;
      color: $white;
    }
  }

  .post {
    @include make-col(10);
    @include make-row();
    margin: 10px auto;
    border: 1px solid $bismark;
    border-radius: 20px;
    padding: 10px;

    .heading {
      margin: 10px 0;
      font-size: 20px;
    }

    &_image {
      @include make-col-ready();
      @include make-col(6);
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        object-fit: cover;
        height: 300px;
      }
    }

    .fact {
      @include make-col-ready();
      @include make-col(6);
      text-align: center;
    }
  }
}
