@import "color-matrix";

//colors
$mainFontColor: $rollingStone;
$blackFontColor: $black;
$whiteFontColor: $white;
$postYearColor: $scorpion;
$postTextColor: $silverChalice;
$laterCompositionInfoBg: $blackHaze;
$laterCompositionSocialsFontColor: $dustyGray;
$upcomingEventsHeadingColor: $bismark;
$historyHeadingColor: $stormDust;
$historyTextColor: $corduroy;
$contactHeadingColor: $tundora;
//main vars
$mainFont: "Open Sans", sans-serif;
$headingFont: "Dosis Regular", sans-serif;
$mainFontSizeDesktop: 14px;
$headingFontSizeDesktop: 50px;
$headingFontSizeMobile: 50px;
$mainFontSizeTablet: 21px;
$mainFontSizeMobile: 15px;
$headingFontSizeTablet: 75px;
$postHeadingFontSizeTablet: 34px;
$postHeadingFontSizeDesktop: 23px;
$postHeadingFontSizeMobile: 24px;
//discography vars
$discographyHeadingPaddingMobile: 0 40px;
$discographyHeadingMarginDesktop: 60px 0 45px;
$discographyHeadingMarginTablet: 120px 0 60px;
$discographyHeadingMarginMobile: 30px 0 40px;
$discographyYearPaddingDesktop: 20px 0 12px;
$discographyYearPaddingTablet: 20px 0 16px;
$discographyYearPaddingMobile: 12px 0;
$discographyNameMarginTablet: 55px;
$discographyNameMarginMobile: 45px;
$discographyPostButtonMarginTablet: 30px 0 140px;
$discographyPostButtonMarginDesktop: 90px;
$discographyPostButtonMarginMobile: 25px 0 100px;
//concert-tours vars
$concertTourPaddingDesktop: 150px 0 250px;
$concertTourPaddingTablet: 165px 0 70px;
$concertTourPaddingMobile: 105px 0 50px;
$concertTourHeadingPaddingMobile: 0 40px;
$concertTourHeadingMarginDesktop: 50px;
$concertTourHeadingMarginTablet: 70px;
$concertTourHeadingMarginMobile: 45px;
$concertTourNameMarginDesktop: 80px;
$concertTourNameMarginTablet: 120px;
$concertTourNameMarginMobile: 80px;
$concertTourTextPaddingDesktop: 20px 0;
$concertTourTextPaddingTablet: 40px 0;
$concertTourTextPaddingMobile: 25px 0 100px;
//latest-composition vars
$latestCompositionHeadingMarginDesktop: 50px;
$latestCompositionHeadingMarginTablet: 70px;
$latestCompositionHeadingMarginMobile: 45px;
$latestCompositionCompBlockMarginDesktop: 160px;
$latestCompositionCompBlockMarginTablet: 75px;
$latestCompositionCompBlockMarginMobile: 60px;
$latestCompositionCompInfoPaddingDesktop: 35px 63px 35px 35px;
$latestCompositionCompInfoPaddingTablet: 50px 100px 60px 50px;
$latestCompositionCompInfoPaddingMobile: 30px 50px 35px 35px;
$latestCompositionCompYearPaddingDesktop: 5px;
$latestCompositionCompYearPaddingTablet: 20px;
$latestCompositionCompYearPaddingMobile: 10px;
$latestCompositionCompYearMarginDesktop: 8px;
$latestCompositionCompYearMarginTablet: 16px;
$latestCompositionCompYearMarginMobile: 8px;
$latestCompositionCompNameMarginDesktop: 45px;
$latestCompositionCompNameMarginTablet: 60px;
$latestCompositionCompNameMarginMobile: 45px;
$latestCompositionCompTextPaddingDesktop: 35px 0 60px;
$latestCompositionCompTextPaddingTablet: 35px 0 100px;
$latestCompositionCompTextPaddingMobile: 30px 0 60px;
$latestCompositionCompSocialsPaddingDesktop: 25px;
$latestCompositionCompSocialsPaddingTablet: 45px;
$latestCompositionCompSocialsPaddingMobile: 33px;

//slider vars
$sliderSlidePaddingDesktop: 160px;
$sliderSlidePaddingTablet: 235px;
$sliderSlidePaddingMobile: 160px;
$sliderSlideIconMarginDesktop: 0 auto 40px auto;
$sliderSlideIconMarginTablet: 0 auto 60px auto;
$sliderSlideIconMarginMobile: 0 auto 25px auto;
$sliderSlideHeadingMarginDesktop: 40px;
$sliderSlideHeadingMarginTablet: 55px;
$sliderSlideHeadingMarginMobile: 35px;
$sliderSlideHeadingFontSizeDesktop: 19px;
$sliderSlideHeadingFontSizeTablet: 27px;
$sliderSlideHeadingFontSizeMobile: 17px;
$sliderSlideTextMarginDesktop: 0 auto 60px auto;
$sliderSlideTextMarginTablet: 0 auto 90px auto;
$sliderSlideTextFontSizeDesktop: 14px;
$sliderSlideTextFontSizeTablet: 21px;
$sliderSlideTextFontSizeMobile: 15px;
$sliderSlideYearMarginDesktop: 70px;
$sliderSlideYearMarginTablet: 120px;
$sliderSlideYearMarginMobile: 65px;
$sliderSlideDotSizeDesktop: 9px;
$sliderSlideDotSizeTablet: 16px;
$sliderSlideDotSizeMobile: 11px;
//new-tracks vars
$newTrackPaddingDesktop: 165px;
$newTrackPaddingTablet: 60px;
$newTrackPaddingMobile: 55px;
$newTracksTrackPaddingDesktop: 35px;
$newTracksTrackPaddingTablet: 50px;
$newTracksTrackPaddingMobile: 55px 60px 0 60px;
$newTracksYearPaddingDesktop: 12px;
$newTracksYearPaddingTablet: 15px;
$newTracksYearPaddingMobile: 12px;
$newTracksAlbumMarginDesktop: 45px;
$newTracksAlbumMarginTablet: 55px;
$newTracksAlbumMarginMobile: 40px;
$newTracksTrackHeadingMarginDesktop: 40px;
$newTracksTrackHeadingMarginTablet: 50px;
$newTracksTrackHeadingMarginMobile: 38px;
//upcoming-events vars
$upcomingEventsPaddingDesktop: 334px 0 170px;
$upcomingEventsPaddingTablet: 270px 0 100px;
$upcomingEventsPaddingMobile: 120px 0 250px;
$upcomingEventsHeadingMarginDesktop: 115px;
$upcomingEventsHeadingMarginTablet: 170px;
$upcomingEventsHeadingMarginMobile: 110px;
$upcomingEventsNameMarginMobile: 15px;
$upcomingEventsNamePaddingMobile: 10px;
$upcomingEventsLastNamePaddingTablet: 30px 0 22px 0;
$upcomingEventsLastNameMarginTablet: 34px;
$upcomingEventsLastNamePaddingMobile: 20px 0 18px 0;
$upcomingEventsLastNameMarginMobile: 20px;
$upcomingEventsTextPaddingTablet: 30px;
$upcomingEventsLastTextPaddingTablet: 20px;
$upcomingEventsTextPaddingMobile: 16px;
$upcomingEventsLastTextPaddingMobile: 13px;
$upcomingEventsYearPaddingTablet: 17px 0 30px 0;
$upcomingEventsYearPaddingMobile: 14px 0 20px 0;
$upcomingEventsLineHeightTablet: 80px;
$upcomingEventsLongLineHeightTablet: 250px;
//contact vars
$contactPaddingDesktop: 270px 0;
$contactPaddingTablet: 180px 0 550px;
$contactPaddingMobile: 90px 0 460px;
$contactHeadingMarginDesktop: 30px;
$contactHeadingMarginTablet: 40px;
$contactHeadingMarginMobile: 30px;
$contactSubHeadingMarginDesktop: 70px;
$contactSubHeadingMarginTablet: 110px;
$contactInputMarginDesktop: 40px;
$contactInputMarginTablet: 60px;
$contactInputPaddingDesktop: 10px 0;
$contactInputPaddingTablet: 15px 0;
$contactButtonFontSizeDesktop: 20px;
$contactButtonFontSizeTablet: 30px;
$contactSocialsHeightDesktop: 190px;
$contactSocialsHeightTablet: 290px;
$contactSocialsMarginDesktop: 20px;
$contactSocialsMarginTablet: 35px;
